{:deps {}
 :aliases
 {:native {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}}
  :build ;; added by neil
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.3" :git/sha "e537cd1"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
